@background-color-warning: #fef6e7;
@background-color-base: #fff;
@background-color-article: #fff;
@background-color-thumb: #f8f9fa;
@color-thumb: #202122;
@color-base: #202122;
@color-gray: #a2a9b1;
@color-gray-2: #72777d;
@color-link: #0645ad;
@color-link--active: #faa700;
@color-link--visited: #0b0080;
@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
@icon-filter: none;
@color-link-new: @color-link;
@color-link-stub: @color-link;
@color-link-external: @color-link;
@color-link-new--visited: @color-link--visited;
