{{#is-article}}
{{#data-category-normal}}
<div id="catlinks" class="catlinks" data-mw="interface">
	<div id="{{id}}" class="{{class}}">
		<span>{{msg-mediawikibootstrap-categories}}: </span><ul>{{{html-items}}}</ul>
		{{{html-after-portal}}}
	</div>
	{{#data-category-hidden}}
	<div id="{{id}}" class="{{class}}">
		<ul>{{{html-items}}}</ul>
		{{{html-after-portal}}}
	</div>
	{{/data-category-hidden}}
</div>
{{/data-category-normal}}
{{/is-article}}
