{{#is-article}}
<div id="catlinks" class="catlinks" data-mw="interface">
	{{#data-category-normal}}
	<div id="{{id}}" class="{{class}}">
		<ul>{{#array-items}}{{>ListItem}}{{/array-items}}</ul>
		{{{html-after-portal}}}
	</div>
	{{/data-category-normal}}
	{{^data-category-normal}}
	<p>{{msg-mediawikibootstrap-no-categories}}</p>
	{{/data-category-normal}}
	{{#data-category-hidden}}
	<div id="{{id}}" class="{{class}}">
		<ul>{{#array-items}}{{>ListItem}}{{/array-items}}</ul>
		{{{html-after-portal}}}
	</div>
	{{/data-category-hidden}}
</div>
{{/is-article}}