<div class="content__heading-row">
{{^is-mainpage}}{{{html-title-heading}}}{{/is-mainpage}}
{{#is-mainpage}}{{#msg-mainpage-display-title}}<h1 id="firstHeading" class="firstHeading mw-first-heading">{{msg-mainpage-display-title}}</h1>{{/msg-mainpage-display-title}}{{^msg-mainpage-display-title}}{{{html-title-heading}}}{{/msg-mainpage-display-title}}{{/is-mainpage}}
{{#data-portlets.data-languages}}<ul class="content__language-links list-unstyled d-flex flex-wrap gap-2 mb-0">{{#array-items}}{{>ListItem}}{{/array-items}}</ul>{{/data-portlets.data-languages}}
</div>
