<div id="p-logo" class="mw-portlet text-center" role="banner">
    <a href="{{link-mainpage}}">
    {{#data-logos}}
        {{#icon}}<img class="icon img-fluid" src="{{.}}" alt="{{msg-sitetitle}}{{{html-title}}}">{{/icon}}
        {{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}">{{/wordmark}}
    {{/data-logos}}
    </a>
</div>