<li  role="navigation" id="{{id}}" class="nav-item dropdown {{class}}"  title="{{html-tooltip}}" aria-labelledby="{{id}}-label">
    <a id="{{id}}-label" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" {{{html-user-language-attributes}}}>
    {{label}}
    </a>
    <ul class="dropdown-menu" {{{html-user-language-attributes}}}>
        {{{html-items}}}
        {{! <li><a class="dropdown-item" href="#">Action</a></li> }}
        {{{html-after-portal}}}
    </ul>
</li>
