{{^is-anon}}
{{#data-portlets.data-notifications}}
{{#array-items}}
<li class="nav-item" id="{{id}}">
	{{#array-links}}<a class="nav-link px-2" {{#array-attributes}}{{key}}="{{value}}"{{/array-attributes}}>{{text}}</a>{{/array-links}}
</li>
{{/array-items}}
{{/data-portlets.data-notifications}}
{{/is-anon}}
